<html>
  <head>
<title> About</title>
  <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p> This site uses data form mapbox.comn and weatherstack.com</p>
      <img class="imgSize" src="/img/mee.jpg"  />
    </div>

    {{>footer}}

  </body>
</html>